In [1]:
import requests
from bs4 import BeautifulSoup

In [5]:
url = "https://www.mohfw.gov.in/"

In [7]:
response = requests.get(url)
print(response)

<Response [200]>

In [9]:
soup = BeautifulSoup(response.content,"html.parser")

In [13]:
divs = soup.find("div" ,class_="container")
for i in divs.find_all("div",class_="update-box"):
    print(i.text)

In [16]:
table = soup.find_all("table")
len(table)

1

In [20]:
table = table[0]

In [73]:
Sr_no=[]
State_or_UT=[]
Total_cases=[]
Discharged=[]
Deaths=[]

rows = table.find_all("tr")[1:33]
for row in rows:

        col = row.find_all("td")
        Sr_no.append(col[0].text.strip())
        State_or_UT.append(col[1].text.strip())
        Total_cases.append(col[2].text.strip())
        Discharged.append(col[3].text.strip())
        Deaths.append(col[4].text.strip())
        
rows = table.find_all("tr")[33:34]
print(rows)
for row in rows:
    col=row.find_all("strong")
    State_or_UT.append(col[0].text.strip())
    Total_cases.append(col[1].text.strip())
    Discharged.append(col[2].text.strip())
    Deaths.append(col[3].text.strip())

print(State_or_UT)
print(Deaths)
print(Discharged)

[<tr>
<td colspan="2"><strong><span>Total number of confirmed cases in India</span></strong></td>
<td align="right" style="text-align:right;"><strong>31787*</strong></td>
<td>
<strong>7797</strong>
</td>
<td>
<strong>1008</strong>
</td>
</tr>]
['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh', 'Madhya Pradesh#', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Tamil Nadu', 'Telengana', 'Tripura', 'Uttarakhand', 'Uttar Pradesh', 'West Bengal', 'Total number of confirmed cases in India']
['0', '31', '0', '1', '2', '0', '0', '54', '0', '181', '3', '1', '8', '3', '20', '4', '0', '119#', '400', '0', '1', '0', '1', '0', '19', '51', '25', '26', '0', '0', '36', '22', '1008']
['15', '287', '1', '27', '64', '17', '34', '1078', '7', '434', '209', '25', '176', '19', '215', '359', '16', '377', '1388', '2', '0', '0', '38', '3', '71', '768', '1168', '367', '2', '34', '477', '119', '7797']

In [68]:
import pandas as pd
import numpy as np

In [71]:
data = pd.DataFrame(list(zip(Sr_no,State_or_UT,Total_cases,Discharged,Deaths)),columns=["Sr.no","State/UT","Total_cases","Discharged","Deaths"])
data.set_index("Sr.no")

                          State/UT Total_cases Discharged Deaths
Sr.no
1      Andaman and Nicobar Islands          33         15      0
2                   Andhra Pradesh        1332        287     31
3                Arunachal Pradesh           1          1      0
4                            Assam          38         27      1
5                            Bihar         383         64      2
6                       Chandigarh          56         17      0
7                     Chhattisgarh          38         34      0
8                            Delhi        3314       1078     54
9                              Goa           7          7      0
10                         Gujarat        3774        434    181
11                         Haryana         310        209      3
12                Himachal Pradesh          40         25      1
13               Jammu and Kashmir         565        176      8
14                       Jharkhand         105         19      3
15                       Karnataka         532        215     20
16                          Kerala         486        359      4
17                          Ladakh          22         16      0
18                 Madhya Pradesh#        2561        377   119#
19                     Maharashtra        9318       1388    400
20                         Manipur           2          2      0
21                       Meghalaya          12          0      1
22                         Mizoram           1          0      0
23                          Odisha         119         38      1
24                      Puducherry           8          3      0
25                          Punjab         322         71     19
26                       Rajasthan        2364        768     51
27                      Tamil Nadu        2058       1168     25
28                       Telengana        1012        367     26
29                         Tripura           2          2      0
30                     Uttarakhand          54         34      0
31                   Uttar Pradesh        2115        477     36
32                     West Bengal         725        119     22

In [78]:
State_or_UT1=[]
for i in data["State/UT"]:
    s1=str(i)
    s2=s1.replace("#","")
    
    State_or_UT1.append(s2)
State_or_UT =State_or_UT1

Deaths1=[]
for i in data["Deaths"]:
    s1=str(i)
    s2=s1.replace("#","")
    s3=int(s2)
    Deaths1.append(s3)
Deaths = Deaths1

In [79]:
data = pd.DataFrame(list(zip(Sr_no,State_or_UT,Total_cases,Discharged,Deaths)),columns=["Sr.no","State/UT","Total_cases","Discharged","Deaths"])
data.set_index("Sr.no")

                          State/UT Total_cases Discharged  Deaths
Sr.no
1      Andaman and Nicobar Islands          33         15       0
2                   Andhra Pradesh        1332        287      31
3                Arunachal Pradesh           1          1       0
4                            Assam          38         27       1
5                            Bihar         383         64       2
6                       Chandigarh          56         17       0
7                     Chhattisgarh          38         34       0
8                            Delhi        3314       1078      54
9                              Goa           7          7       0
10                         Gujarat        3774        434     181
11                         Haryana         310        209       3
12                Himachal Pradesh          40         25       1
13               Jammu and Kashmir         565        176       8
14                       Jharkhand         105         19       3
15                       Karnataka         532        215      20
16                          Kerala         486        359       4
17                          Ladakh          22         16       0
18                  Madhya Pradesh        2561        377     119
19                     Maharashtra        9318       1388     400
20                         Manipur           2          2       0
21                       Meghalaya          12          0       1
22                         Mizoram           1          0       0
23                          Odisha         119         38       1
24                      Puducherry           8          3       0
25                          Punjab         322         71      19
26                       Rajasthan        2364        768      51
27                      Tamil Nadu        2058       1168      25
28                       Telengana        1012        367      26
29                         Tripura           2          2       0
30                     Uttarakhand          54         34       0
31                   Uttar Pradesh        2115        477      36
32                     West Bengal         725        119      22